html {
  font-size: 62.5%;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: black;
}

label {
  font-size: 2rem;
}

select {
  font-size: 2rem;
}

input {
  font-size: 2rem;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 2rem;
}

.navegacion {
  background: #DCE35B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45B649, #dce35b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.navegacion .nav {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0rem;
}

.navegacion .nav label {
  margin: 0rem 1rem;
}

.navegacion .nav input {
  width: 12rem;
}

.navegacion .nav button {
  background-color: rgba(255, 255, 255, 0.2);
  border-style: groove;
  border-width: 0;
  padding: .5rem;
  font-size: 2rem;
  color: rgb(68, 99, 70);
  border-radius: .5rem;
  margin-left: 1rem;
}


.navegacion .nav a {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: .5rem;
  font-size: 2rem;
  color: rgb(68, 99, 70);
  padding: .5rem;
  text-align: center;
  text-decoration: none;
}

.contenedor {
  background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(168, 224, 99, 0.596), rgba(86, 171, 47, 0.575));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(168, 224, 99, 0.555), rgba(86, 171, 47, 0.623)),url(/static/img/logo2.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin:0;
  min-height: 100;
  background-image: url(/static/img/logo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.contenedor .publicaciones {
  min-height: 95vh;
  width: 95%;
  margin: auto;
  padding-top: 2rem;
}

.contenedor .publicaciones a {
  text-decoration: none;
  color: black;
}

.contenedor .publicaciones a .publicacion {
  height: 35rem;
  width: 20rem;
  margin: 2rem 1.9rem;
  display: inline-block;
  background: #A1FFCE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FAFFD1, rgba(161, 255, 206, 0.63)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
  text-align: center;
  -webkit-box-shadow: 10px 0px 45px -5px rgba(0, 0, 0, 0.959);
  -moz-box-shadow: 10px 0px 45px -5px rgba(0,0,0,0.8);
  box-shadow: 10px 0px 45px -5px rgba(0,0,0,0.8);
  color: rgb(18, 26, 19);
  border-style: ridge;
}

.contenedor .publicaciones a .publicacion h1 {
  padding: 1rem 0rem;
  background: rgba(96, 156, 96, 0.541);
  color: rgba(240, 241, 240, 0.911);
}

.contenedor .publicaciones a .publicacion img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer{
  color: #ab2f96;
}
.contenedor .publicaciones .elementos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contenedor .publicaciones .elementos img {
  height: 50rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=style.css.map */