<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
</head>
<body>

{% include "navbar.html" %}

<!--PUBLICAR ARTICULO A RECICLAR-->
<h1 id=ivan class="btn btn-dark btn-block p-3" href="/publicaciones/">BIENVENIDOS A RECICLAPP</h1>
</br>

<!-- contenido cambiante-->
{% block content %}

{% endblock %}

    <!-- Footer -->
<footer class="page-footer btn-lg btn btn-dark btn-block p-3">
    <!-- Footer Elements -->

    <div class="container">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href=""> Info2020 </a>
    </div>
  </footer>
  <!-- Footer -->
</body>
</html>