<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <form>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Elija su ciudad por favor:</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option value={{request.models.localidad}} selected></option>
        <option value="1" href="{% url 'Resistencia' %}">Resistencia</option>
        <option value="2" href="{% url 'Barranqueras' %}">Barranqueras</option>
        <option value="3"href="{% url 'SaenzPena' %}">P. R. Saenz Peña</option>
        <option value="3">Charata</option>
        <option value="3">Fontana</option>
        <option value="3">Las Breñas</option>
        <option value="3">Villa Angela</option>
        <option value="3">Castelli</option>
      </select>
    </div>
    <div class="col-auto my-1">
      <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
        <label class="custom-control-label" for="customControlAutosizing">Recordar mi elección</label>
      </div>
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-success btn-lg ml-auto">Enviar</button>
    </div>
  </div>
  </form>
        </button>
<a class="btn btn-success btn-lg ml-auto" href="{% url 'Publicar' %}">PUBLICAR</a>
</nav>