{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block titulo %}Inicio{% endblock titulo %}</title>
  <link rel="shortcut icon" href="/static/Img/head.ico" />
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <section class="main">
    {% block nav %}
    <div class="navegacion">
      <nav class="nav">
        <form method="get">
          {{ filtro.form }}
          <button type="submit">Buscar</button>
        </form>
        
        <a href="{% url 'crear_publicacion' %}">Crear</a>
      </nav>
    </div>
    {% endblock nav %}
    {% block contenedor %}
    <div class="contenedor">
      <section class="publicaciones">
        {% for Publicacion in filtro.qs %}
        <a href="{% url 'publicaciones' Publicacion.id %}">
          <div class="publicacion">
            <img class="img-responsive watch-right" alt ="Not Found" src="{{ Publicacion.imagen.url }}"/>
            <h1>{{ Publicacion.get_tipo_display }}</h1>
            <p>{{ Publicacion.peso_aprox }} {{ Publicacion.get_unidad_display }}</p>
            <p>{{ Publicacion.ciudad }}</p>
            <p>{{ Publicacion.telefono }}</p>
          </div>
        </a>
        {% endfor %}
      <section>
    </div>
    {% endblock contenedor %}
  </section>
</body>
</html>