{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Inicio</title>
  <link rel="shortcut icon" href="/static/Img/head.ico" />
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <section class="main">
    <div class="navegacion">
      <nav class="nav">
        <form method="get">
          {{ filtro.form }}
          <button type="submit">Buscar</button>
        </form>
        
        <a href="{% url 'crear_publicacion' %}">Crear Publicacion</a>
      </nav>
    </div>
    <div class="contenedor">
        <section class="publicaciones">
          {% for Publicacion in filtro.qs %}
          <div class="publicacion">
            <img class="img-responsive watch-right" alt ="Not Found" src="{{ Publicacion.imagen.url }}"/>
            <h1>{{ Publicacion.get_tipo_display }}</h1>
            <p>{{ Publicacion.peso_aprox }} {{ Publicacion.get_unidad_display }}</p>
            <p>{{ Publicacion.ciudad }}</p>
            <p >{{ Publicacion.telefono }}</p>
          </div>
          {% endfor %}
        <section>
      
    </div>
  </section>
</body>
</html>